{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12 col-xl-12 mx-5">
        <h2 class="m-3">Регистрация: </h2>
        <form class="m-3" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.username.label }}: </span>
                {{ form.username }}
            </div>
            {% for error in form.username.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.first_name.label }}: </span>
                {{ form.first_name }}
            </div>
            {% for error in form.first_name.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.last_name.label }}: </span>
                {{ form.last_name }}
            </div>
            {% for error in form.last_name.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.email.label }}: </span>
                {{ form.email }}
            </div>
            {% for error in form.email.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.password1.label }}: </span>
                {{ form.password1 }}
            </div>
            {% for error in form.password1.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <div class="input-group mt-4 mb-4">
                <span class="input-group-text" id="inputGroup-sizing-default">{{ form.password2.label }}: </span>
                {{ form.password2 }}
            </div>
            {% for error in form.password2.errors %}
            <div><p class="text-danger">{{ error }}</p></div>
            {% endfor %}

            <button type="submit" class="btn btn-secondary ms-2 ps-3 pe-3 mt-4">Зарегестрироваться</button>
        </form>
    </div>
</div>
{% endblock %}