{% csrf_token %}

<div class="form-floating mb-4">
    {{form_review.text}}
    <label for="floatingTextarea">{{ form_review.text.label }}:</label>
</div>
{% for error in form.text.errors %}
<div><p class="text-danger">{{ error }}</p></div>
{% endfor %}

<div class="input-group mt-4 mb-4">
    <span class="input-group-text" id="inputGroup-sizing-default">{{ form_review.rating.label }}: </span>
    {{ form_review.rating }}
</div>
{% for error in form_review.rating.errors %}
<div><p class="text-danger">{{ error }}</p></div>
{% endfor %}

<button type="submit" class="btn btn-secondary ms-2 ps-3 pe-3 mt-2">{{ button_text }}</button>